* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Inclusive Sans', sans-serif;
}

body{
    height: 100vh;
    display: grid;
    place-content: center;
}

section {
    display: flex;
    width: 600px;
    flex-direction: column;
    gap: 30px;
}

h1{
    font-size: 3rem;
    align-self: center;
}

label{
    font-size: 1.8rem;
}

.boton{
    background-color: transparent;
    border: 2px solid #ada8a8;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 auto;
}

.boton:hover{
    background-color: #ada8a8;
    color: white;
}

.contenedor-ingreso-notas{
    text-align: center;
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.ingreso-datos{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.ingreso-datos > input{
    width: 150px;
    height: 30px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ada8a8;
    outline: none;
}

